@import "variables";
@import "utilities";

.icon-container {
  width: 200px;
}

.main {
  height: 100vh;
  background-color: red;
}

.main-center {
  display: grid;
  height: 100%;
}

.icon {
  width: 100%;
  display: inline-block;
}

.location {
  background-color: $accent-dark-400;
}

.location__header {
  @include d-flex;
  justify-content: space-between;
  padding: 18px 15px;
}

.location__header-btn {
  cursor: pointer;

  p {
    background-color: $accent-dark-200;
    padding: 11px 20px;
  }
}

.location__header-btn-rounded {
  border-radius: $rounded-full;
  background-color: $accent-dark-200;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.location__status {
  position: relative; /* Make sure the container is positioned */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 326px;

  &::after {
    content: "";
    background-image: url("/src/assets/cloud-background.png");
    filter: brightness(0) saturate(100%) invert(36%) sepia(33%) saturate(382%) hue-rotate(205deg) brightness(49%) contrast(94%);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
  }
}

.location__data-center {
  display: flex;
  padding: 2.5rem 0;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location__data-temp {
  display: flex;
  align-items: center;

  p {
    font-size: 96px;
    font-weight: bolder;
  }

  span {
    @include text-2xl;
  }
}

.location__data-condition {
  p {
    font-size: 32px;
    font-weight: bold;
    color: $accent-light-300;
  }
}

.location__data-date {
  font-size: 18px;
  color: $accent-dark-100;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.location__data--place {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  color: $accent-dark-100;
}

.forecast {
  background-color: $accent-dark-600;
}

.highlights {
  background-color: $accent-dark-600;
  color: $accent-light-100;
}

.forecast__center {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}


.highlights__center {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}


.forecast-item {
  background-color: $accent-dark-400;
  border-radius: $rounded-md;
}

.forecast-item__center {
  @include d-flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon-container {
    width: 100px;
  }
}

.forecast-item-temp {
  @include d-flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.forecast-item-temp-min {
  @include d-flex;
}

.forecast-item-temp-max {
  @include d-flex;
}


.section__title {
  @include text-lg;
  margin-top: 1rem;
  text-align: center;
}

.highlights-item {
  border-radius: $rounded-md;
  text-align: center;
  background-color: $accent-dark-400;
  margin-top: 1rem;

}

.highlights-item__center {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


.highlights-item-title {
  font-size: 24px;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.highlights-item-value {
  font-size: 36px;

  span {
    font-weight: bolder;
    font-size: 64px;
  }

}

.highlights-item-status {

}


@media screen and (min-width: map-get($breakpoints, "md")) {
  .main-center {
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr;
  }

  .location {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .location__status {
    &::after {
      background-attachment: scroll;
    }
  }


  .forecast {
    padding: 3rem;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .highlights {
    padding: 3rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .section__title {
    @include text-xl;
    text-align: left;
    margin-left: 1rem;
  }

  .forecast__center {
    max-width: 768px;


  }

  .highlights__center {
    max-width: 768px;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


@media screen and (min-width: map-get($breakpoints, "lg")) {


  .forecast__center {
    max-width: 992px;

  }

  .highlights__center {
    max-width: 992px;
column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

}


@media screen and (min-width: map-get($breakpoints, "xl")) {
  .main-center {
    grid-template-columns: 450px 1fr;
  }


  .forecast__center {
    max-width: 1300px;

  }


  .highlights__center {
    max-width: 1300px;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  }

}