@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

$accent-light-100: #FFFFFF;
$accent-light-200: #E7E7EB;
$accent-dark-200: #6E707A;
$accent-light-300: #A09FB1;
$accent-dark-100: #88869D;
$accent-dark-300: #585676;
$accent-dark-400: #1E213A;
$accent-dark-500: #110E3C;
$accent-dark-600: #100E1D;
$primary-100: #3C47E9;
$font-sans-1: 'Raleway', sans-serif;
$font-sans-2: 'Montserrat', sans-serif;
$font-serif: serif;
$font-mono: monospace;
$max-w-xs: 266px;
$max-w-sm: 327px;
$max-w-md: 573px;
$max-w-lg: 700px;
$max-w-xl: 1110px;
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 10px;
$rounded-xl: 16px;
$rounded-full: 50%;
$box-shadow-1: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$box-shadow-2: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$box-shadow-3: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$transition: 0.3s ease-in-out all;
$font-sizes: (
        "xs": 0.75rem,
        "sm": 0.875rem,
        "base": 1rem,
        "lg": 1.125rem,
        "xl": 1.5rem,
        "2xl": 2.25rem,
        "3xl": 4rem
);
$line-height: (
        "1": 1.25rem,
        "2": 1.5rem,
        "3": 1.563rem,
        "4": 2.063rem,
        "5": 2.375rem
);

$breakpoints: (
        "sm": 375px,
        "md": 768px,
        "lg": 1440px,
);

